/* src/assets/styles/components/DarkModeToggle.scss */
.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--color-white);

  &:hover {
    color: var(--color-primary);
  }
}
